
.todo-container{
    width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    margin-top: 20px;
}

.todo-input{
    width: 80%;
    height: 100%;
    border: none;
    font-size: 1.2rem;
    margin-left:30px ;    
    font-weight: bold;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 96%;
    background-color: rgba(119, 146, 154, 0.339);
    height: .3vh;
    margin: auto;
    margin-top: 20px;
} 

.todo-container i{
    cursor: pointer;
    font-size: 1.5rem;    
}

.check-icon{
    color: green;
}

.check-icon:hover{
    transform: scale(1.2);
}

.edit-icon{
    transition: all 0.2s ease-in-out;
}

.save-icon{
    transition: all 0.2s ease-in-out;
}

.save-icon:hover{
    transform: scale(1.2);
}

.edit-icon:hover{
    transform: scale(1.2);
}

.delete-icon{
    color:red;
    transition: all 0.2s ease-in-out;
}

.delete-icon:hover{
    transform: scale(1.2);
}
.todo-container input:focus{
    outline: none;
}

.icons{
    display: flex;
    align-items: center;
    width: 10%;
    gap: 20px;
    justify-content: center;
}